%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} General
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Contacts
    %li
      %a{"data-toggle" => "tab", :href => "#tab3"} Security
    %li
      %a{"data-toggle" => "tab", :href => "#tab4"} Account  
  .tab-content
    #tab1.tab-pane.active
      %p You general info
      %div
        = f.label :firstname
        = f.text_field :firstname
      %div
        = f.label :lastname
        = f.text_field :lastname
          
    #tab2.tab-pane
      %p Contacts
      %div
        = f.label :home_address
        = f.text_field :home_address
      %div
        = f.label :home_phone
        = f.text_field :home_phone
      %div
        = f.label :mobile_phone
        = f.text_field :mobile_phone
      %div
        = f.label :skype
        = f.text_field :skype
      %div
        = f.label :icq
        = f.text_field :icq
      %div
        = f.label :email
        = f.email_field :email
    #tab3.tab-pane  
      %div
        = f.label :password
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, :autocomplete => "off"
      %div
        = f.label :password_confirmation
        = f.password_field :password_confirmation
    #tab4.tab-pane 
      %h3 Cancel my account
      %p
        Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
  
      
  %div.divider
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  %div= f.submit "Update"

-# = link_to "Back", :back
