%section#user
  %h1
    = _uname
    %small Manage your personal data
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  -# .alert.alert-error
  = devise_error_messages!
  .tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} General
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Contacts
    %li
      %a{"data-toggle" => "tab", :href => "#tab3"} Account  
  .tab-content
  
    #tab1.tab-pane.active
      %p You general info
      %div
        = f.label :firstname
        = f.text_field :firstname
      %div
        = f.label :lastname
        = f.text_field :lastname
      %div= f.submit "Update"  
       
    #tab2.tab-pane
      %p Contacts
      %div
        = f.label :home_address
        = f.text_field :home_address
      %div
        = f.label :home_phone
        = f.text_field :home_phone
      %div
        = f.label :mobile_phone
        = f.text_field :mobile_phone
      %div
        = f.label :skype
        = f.text_field :skype
      %div
        = f.label :icq
        = f.text_field :icq
      %div
        = f.label :email
        = f.email_field :email
      %div= f.submit "Update"
    
    #tab3.tab-pane 
      .page-header
        %h3 Cancel my account
        %p
          Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
      
      %h3 Password
      %a.btn.btn-primary.btn-large{"data-toggle" => "modal", "data-backdrop" => "static", :href => "#dlgChangePassword"} 
  
        Change password ...
        
      #dlgChangePassword.modal.hide.fade{:style => "display: none; "}
        .modal-header
          -# %button.close{"data-dismiss" => "modal"} ×
          %h3 Change password
        .modal-body
          %div
            = f.label :current_password
            %i (we need your current password to confirm your changes)
            %br/
            = f.password_field :current_password
          %div
            = f.label :password
            %i (leave blank if you don't want to change it)
            %br/
            = f.password_field :password, :autocomplete => "off"
          %div
            = f.label :password_confirmation
            = f.password_field :password_confirmation
            
          %div.divider

            
        .modal-footer
          %a.btn{"data-dismiss" => "modal", :href => "#"} Close
          %a.btn.btn-primary{:href => "#"} Change password
      


-# = link_to "Back", :back
