.task{:class => task.complete? ? "task_complete" : "task_incomplete"}
  .row-fluid.task-header
    .span1
      - if task.complete?
        %span.badge.badge-info
          = t('task.complete')
      - if task.hold?
        %span.badge
          = t('task.hold')
      %br    
      - if task.low?
        %span.label
          = t('task.low')
      - elsif task.medium?
        %span.label.label-success
          = t('task.medium')
      - else
        %span.label.label-important
          = t('task.hight')  
    .span8    
      .row-fluid
        .span12
          %b 
            = task.name
      .row-fluid
        .span6
          = t('created')
          = link_to task.user.display_name, task.user
          = t('at') 
          = l(task.created_at, :format => :short)

        .span6
          - unless task.completed_by_id.nil?
            = t('completed')
            = link_to User.find_by_id(task.completed_by_id).display_name, User.find_by_id(task.completed_by_id) 
            = t('at')
            = l(task.completed_at, :format => :short)
          - unless task.duration.nil? || task.complete?
            = t('duration')
            = task.duration
        
    .span3
      - unless task.complete? 
        = form_tag set_complete_tasks_path, :method => :put do 
          = hidden_field_tag :task_id,  task.id
          .btn-group.pull-right
            = submit_tag t('task.set_as_comleted'), :class => "btn btn-header"
            = render :partial => 'tasks/actions', :locals => { :task => task }
      - else
        .btn-group.pull-right
          = render :partial => 'tasks/actions', :locals => { :task => task } 


        
        
  - if !task.description.blank?
    .row-fluid
      .task-text
        = task.description
  -#= link_to "subtask", new_task_path({:task => {:tasktable_id => task.id, :tasktable_type => "Task"}, :project_id => current_project.id}) 
  = render :partial => "tasks/task", :collection => task.tasks
  


