%br
= form_for(@project, :remote => false, :html => { :class => "form-horizontal"}) do |f|
  .control-group
    = f.label :name, t('name'),:class => 'control-label'
    .controls
      = f.text_field :name, :required => true, :class => 'span5'
      
  .control-group
    = f.label :description, t('description'), :class => 'control-label'
    .controls
      = f.text_area :description, :rows => 4, :class => 'span5'  
      
  .control-group
    = f.label :goal, t('project.goal'), :class => 'control-label'
    .controls
      = f.text_area :goal, :rows => 10, :class => 'span5'  
      
  .control-group
    = f.label t('dates'), :class => 'control-label'
    .controls
      = f.text_field :date_from, :class => 'span2', :id => "from", :class=> "datepicker"
      = f.text_field :date_to, :class => 'span2', :id => "to", :class=> "datepicker"   
    
      
  - if !@project.new_record?  
    .control-group
      = f.label t('project.state'), :class => 'control-label'
      .controls
        = f.label :state, :value => 0, :class => "radio"  do
          = f.radio_button :state, 0
          = t('project.active')
        = f.label :state, :value => 1, :class => "radio"  do
          = f.radio_button :state, 1
          = t('project.completed')

  .form-actions
    = f.submit t('save'), :class => 'btn-success btn-large'
