%section#projects_list
  - unless @invited_projects.blank?
    .page-header
      %h1
        = t('project.invited_projects')
    = render :partial => 'projects/project_shares_block', :locals => { :projects => @invited_projects }
      
  .page-header
    %h1
      = t('project.your_projects')
  = render :partial => 'projects/project_blocks', :locals => { :projects => @projects }
  

  .form-actions
    = link_to new_project_path, :class => 'btn btn-success btn-large' do
      %i.icon-add
      = t('project.create')

