%table.table#members
  %thead
    %tr
      %th 
        = t('collaboration.name')
      %th
        = t('collaboration.role')
      %th
        = t('collaboration.invited_at')
      
  %tbody
    - @collaborations.each do |c|
      - unless c.nil? || c.role.nil?
        %tr.member
          %td
            .row-fluid
              .span1
                .btn-group
                  %a.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
                    -# %i.icon-cog
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to collaboration_path(c.member),  confirm: t('action.confirm-delete', :name => c.member.display_name), :method => :delete, :remote => true, :class=>'delete_member'  do
                        = t('collaboration.unshare')
              .span11
                = c.member.display_name
          %td
            = c.role.name 
            -# = c.role.can_manage_tasks
          %td
            = l(c.created_at, :format => :long)

  
