%ul#collaborations.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#list"} 
      = t('collaborator.list')
  %li
    %a{"data-toggle" => "tab", :href => "#invite"} 
      = t('collaborator.invite')

.tab-content
  #list.tab-pane.active
    - if @members.count != 0
      = render 'collaborations/list', :object => @members
    - else
      no data
  #invite.tab-pane
    = form_tag @collaborator, remote: false do |f|
      .control-group
        = label_tag :email, t('user.email'), :class => 'control-label'
        .controls  
          = email_field_tag :email
      
      .form-actions
        = submit_tag t('collaborator.add'), :class => 'btn-success btn-large'

