.nav-collapse
  %ul.nav.pull-right
    %li{:class => (controller.controller_name == "dashboard" ? 'active' : nil) }
      = link_to root_path do
        = t('dashboard')
    
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", "data-original-title" => "Current working project", :rel => "tooltip"}
        %i.icon-book
        = current_project.blank? ?  t('project.projects') : current_project.name
        %b.caret
      = render :partial => 'projects/projects_list'
    - unless current_project.blank?
      %li{:class => (controller.controller_name == "collaborations" ? 'active' : nil) }
        = link_to collaborations_path do
          = t('collaborator.collaborators')
    %li.divider-vertical
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.icon-user
        = current_user.display_name
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to edit_user_registration_path do
            %i.icon-user
            = t('user.profile')
        - if current_user.admin?
          %li.divider
          %li
            = link_to rails_admin_path do
              Admin app
        %li.divider
        %li
          = link_to destroy_user_session_path, method: :delete do
            %i.icon-off
            = t('user.sign_out')



